.container{
  width: 30vw;
  height: 70vh;
  background-color: #Eaeee9;
  color: #161616;
  margin-left: 35%;
  margin-top: 7%;
}

.tit{
  width: 30vw;
  height: 5vh;
  background-color: #ff4a01;
}

.title{
  margin-left: 30.5%;
  padding-top: 2%;
  font-size: 1.5rem;
  font-weight: 800;
}

.one, .two, .three{
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 6%;
}

.amount{
  margin-left: 1.8%;
  width: 25vw;
  height: 3vh;
  position: absolute;
  margin-top: -1%;
  background-color: transparent;
  border: 2px solid #161616;
}

.amount, .from, .to,::placeholder{
  color: #161616;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}


.from, .to{
  margin-left: 1.8%;
  width: 25.5vw;
  height: 4vh;
  position: absolute;
  margin-top: -1%;
  background-color: transparent;
  border: 2px solid #161616;
}

.img{
  height: 4vh;
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: -4%;
}

.ans{
  margin-top: 21%;
  margin-left: 35%;
}

.btn{
  width: 30vw;
  height: 5vh;
  background-color: #ff4a01;
  margin-top: 6.8%;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.2rem;
  position: absolute;
}

.loader{
  margin-top: 21%;
  margin-left: 43%;
}